.pageContainer {
    padding: 30px;
    background-color: var(--interactive-interface-background-color);
    text-align: center;
    min-width: 400px;
    border-radius: 12px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 32px;
    box-shadow: var(--default-box-shadow)
}

.headerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0px;
}

.componentRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 287px;
    margin-top: -27px;
}

.loginAndRegisterContainer {
    display: flex;
    flex-direction: column;
    gap: 0;
}