@import "../_variables.css";

.sidebarContainer {
    width: 100%;
    min-width: 250px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--background-color-primary);
}

.sidebarContainer .buttonContainer {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: relative;
    padding: 20px 10px;
}

.sidebarContainer .buttonContainer .addChatButton {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.sidebarContainer .buttonContainer .searchButton {
    display: flex;
    align-items: center;
    justify-content: center;

}

.sidebarContainer .chatsContainer {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex-grow: 1;
    overflow-y: auto;
}

.chatsContainer::-webkit-scrollbar-track {
    display: none;
    width: 0;
}

.chatsContainer::-webkit-scrollbar {
    display: none;
    width: 0;
    background: transparent;
}

.sidebarContainer .themeSwitcher {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
}

.hide-neighbor {
    opacity: 0;
    pointer-events: none;
}