@import "./components/_variables.css";

body {
    background: var(--non-interactive-interface-background-color);
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
}